{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Link - Blog</title>

  <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">

</head>

<body>

  {% include "blog/includes/_header.html" %}

  
  <main class="main pt-4">

    <div class="container-xl">

      <div class="row">

        <div class="col-md-9">

          <div class="row">
            {% block body %}
            {% endblock %}

          </div>

        </div>

        <div class="col-md-3 ms-auto">
          
          {% block about %}
          {% endblock %}

          {% block tags %}

            {% block popular_posts %}
            {% endblock %}

          {% endblock %}

          

          

        </div>
      </div>
    </div>

  </main>

  
  {% include "blog/includes/_site-newsletter.html" %}
  
  {% include "blog/includes/_site-instagram.html" %}

  {% include "blog/includes/_footer.html" %}
  
  <script src="{% static 'blog/js/blog.js' %}"></script>
  <script src="{% static 'blog/js/active.js' %}"></script>
</body>

</html>