{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Link - Blog</title>

  <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
      <div class="container">

        <button class="navbar-toggler order-2 order-md-1" type="button" data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3 order-md-2" id="navbar-left">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="page-about.html">Driver Manual</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="page-about.html">Multi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="page-about.html">SDP3</a>
            </li>
          </ul>
        </div>

        <a class="navbar-brand mx-auto order-1 order-md-3" href="{% url 'blog:home' %}">matus</a>

        <div class="collapse navbar-collapse order-4 order-md-4" id="navbar-right">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="page-about.html">XCOM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="page-contact.html">ab WEB</a>
            </li>
          </ul>
          <form class="form-inline" role="search">
            <input class="search js-search form-control form-control-rounded me-sm-2" type="text"
              title="Enter search query here.." placeholder="Search.." aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
  </header>

  <main class="main pt-4">

    <div class="container">

      <div class="row">

        <div class="col-md-9">

          <div class="row">
            {% block body %}
            {% endblock %}

          </div>

        </div>

        <div class="col-md-3 ms-auto">

          <aside class="sidebar">
            <div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">About</h4>
                <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam <a
                    href="#">semper libero</a>, sit amet adipiscing sem neque sed ipsum. </p>
              </div>
            </div><!-- /.card -->
          </aside>

          <aside class="sidebar sidebar-sticky">
            <div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">Tags</h4>
                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Journey</a>
                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Work</a>
                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Lifestype</a>
                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Photography</a>
                <a class="btn btn-light btn-sm mb-1" href="page-category.html">Food & Drinks</a>
              </div>
            </div><!-- /.card -->
            <div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">Popular stories</h4>

                <a href="post-image.html" class="d-inline-block">
                  <h4 class="h6">The blind man</h4>
                  <img class="card-img" src="{% static 'blog/images/2.jpg' %}" alt="" />
                </a>
                <time class="timeago" datetime="2021-09-03 20:00">3 october 2021</time> in Lifestyle

                <a href="post-image.html" class="d-inline-block mt-3">
                  <h4 class="h6">Crying on the news</h4>
                  <img class="card-img" src="{% static 'blog/images/3.jpg' %}" alt="" />
                </a>
                <time class="timeago" datetime="2021-07-16 20:00">16 july 2021</time> in Work

              </div>
            </div><!-- /.card -->
          </aside>

        </div>
      </div>
    </div>

  </main>

  <div class="site-newsletter">
    <div class="container">
      <div class="text-center">
        <h3 class="h4 mb-2">Subscribe to our newsletter</h3>
        <p class="text-muted">Join our monthly newsletter and never miss out on new stories and promotions.</p>

        <div class="row">
          <div class="col-xs-12 col-sm-9 col-md-7 col-lg-5 ms-auto me-auto">
            <div class="input-group mb-3 mt-3">
              <input type="text" class="form-control" placeholder="Email address" aria-label="Email address">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Subscribe</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-instagram">
    <div class="action">
      <a class="btn btn-light" href="#">
        Follow us @ Instagram
      </a>
    </div>
    <div class="row g-0">
      <div class="col-sm-6">
        <div class="row g-0">
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{% static 'blog/images/1.jpg' %}" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{% static 'blog/images/2.jpg' %}" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{% static 'blog/images/3.jpg' %}" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{% static 'blog/images/4.jpg' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row g-0">
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{% static 'blog/images/5.jpg' %}" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{% static 'blog/images/6.jpg' %}" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{% static 'blog/images/7.jpg' %}" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{% static 'blog/images/8.jpg' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="site-footer bg-dark">
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Advertise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page-contact.html">Contact</a>
        </li>
      </ul>
      <div class="copy">
        &copy; Silo 2022<br />
        All rights reserved
      </div>
    </div>
  </footer>

  <script src="{% static 'blog/js/blog.js' %}"></script>

</body>

</html>