{% extends 'blog/base.html' %}
{% load static %}

{% block body %}
<div class="col-md-6">

    <article class="card mb-4">
        <header class="card-header">
            <div class="card-meta">
                <a href="#"><time class="timeago" datetime="2021-09-26 20:00">26 october 2021</time></a> in <a
                    href="page-category.html">
                    {% if category %}
                        {{ category.slug }}
                    {% endif %}
                    </a>
            </div>
            <a href="post-image.html">
                <h4 class="card-title">Пред првото возење на возилото</h4>
            </a>
        </header>
        <a href="post-image.html">
            <img class="card-img" src="{% static 'blog/images/22.jpg' %}" alt="" />
        </a>
        <div class="card-body">
            <p class="card-text">
                Пред првото возење на возилото, упатството за возење треба да се прочита темелно. Опомените и
                инструкциите дадени во ова упатство треба секогаш да се почитуваат. Упатството ги дава сите потребни
                информации кои се потребни за да се спречи предизвикување на оштетувања на возилото, лични повреди и
                повреди на други лица.
            </p>
        </div>
    </article><!-- /.card -->

    <article class="card mb-4">
        <header class="card-header">
            <div class="card-meta">
                <a href="#"><time class="timeago" datetime="2021-09-03 20:00">3 october 2021</time></a> in <a
                    href="page-category.html">Lifestyle</a>
            </div>
            <a href="post-image.html">
                <h4 class="card-title">Oh, I guess they have the blues</h4>
            </a>
        </header>
        <a href="post-image.html">
            <img class="card-img" src="{% static 'blog/images/18.jpg' %}" alt="" />
        </a>
        <div class="card-body">
            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                libero, sit amet adipiscing sem neque sed ipsum. </p>
        </div>
    </article><!-- /.card -->

    <article class="card mb-4">
        <header class="card-header">
            <div class="card-meta">
                <a href="#"><time class="timeago" datetime="2021-07-16 20:00">16 july 2021</time></a> in <a
                    href="page-category.html">Work</a>
            </div>
            <a href="post-image.html">
                <h4 class="card-title">How can we, how can we sing about ourselves?</h4>
            </a>
        </header>
        <a href="post-image.html">
            <img class="card-img" src="{% static 'blog/images/12.jpg' %}" alt="" />
        </a>
        <div class="card-body">
            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                libero, sit amet adipiscing sem neque sed ipsum. </p>
        </div>
    </article><!-- /.card -->

</div>
<div class="col-md-6">

    <article class="card mb-4">
        <header class="card-header">
            <div class="card-meta">
                <a href="#"><time class="timeago" datetime="2021-09-15 20:00">15 october 2021</time></a> in <a
                    href="page-category.html">Lifestyle</a>
            </div>
            <a href="post-image.html">
                <h4 class="card-title">The king is made of paper</h4>
            </a>
        </header>
        <a href="post-image.html">
            <img class="card-img" src="{% static 'blog/images/5.jpg' %}" alt="" />
        </a>
        <div class="card-body">
            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                libero, sit amet adipiscing sem neque sed ipsum. </p>
        </div>
    </article><!-- /.card -->

    <article class="card mb-4">
        <header class="card-header">
            <div class="card-meta">
                <a href="#"><time class="timeago" datetime="2021-08-24 20:00">24 august 2021</time></a> in <a
                    href="page-category.html">Work</a>
            </div>
            <a href="post-image.html">
                <h4 class="card-title">Crying on the news</h4>
            </a>
        </header>
        <a href="post-image.html">
            <img class="card-img" src="{% static 'blog/images/13.jpg' %}" alt="" />
        </a>
        <div class="card-body">
            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                libero, sit amet adipiscing sem neque sed ipsum. </p>
        </div>
    </article><!-- /.card -->

    <article class="card mb-4">
        <header class="card-header">
            <div class="card-meta">
                <a href="#"><time class="timeago" datetime="2021-05-08 20:00">8 may 2021</time></a> in <a
                    href="page-category.html">Journey</a>
            </div>
            <a href="post-image.html">
                <h4 class="card-title">How can you not sing about love?</h4>
            </a>
        </header>
        <a href="post-image.html">
            <img class="card-img" src="{% static 'blog/images/1.jpg' %}" alt="" />
        </a>
        <div class="card-body">
            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                libero, sit amet adipiscing sem neque sed ipsum. </p>
        </div>
    </article><!-- /.card -->

</div>
{% endblock %}

{% block about %}
<aside class="sidebar">
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">About</h4>
        <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam <a
            href="#">semper libero</a>, sit amet adipiscing sem neque sed ipsum. </p>
      </div>
    </div><!-- /.card -->
  </aside>
{% endblock %}

{% block tags %}
<aside class="sidebar sidebar-sticky">
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">Tags</h4>
            <a class="btn btn-light btn-sm mb-1" href="page-category.html">Journey</a>
            <a class="btn btn-light btn-sm mb-1" href="page-category.html">Work</a>
            <a class="btn btn-light btn-sm mb-1" href="page-category.html">Lifestype</a>
            <a class="btn btn-light btn-sm mb-1" href="page-category.html">Photography</a>
            <a class="btn btn-light btn-sm mb-1" href="page-category.html">Food & Drinks</a>
        </div>
    </div><!-- /.card -->


    {% block popular_posts %}
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">Popular stories</h4>

            <a href="post-image.html" class="d-inline-block">
                <h4 class="h6">The blind man</h4>
                <img class="card-img" src="{% static 'blog/images/2.jpg' %}" alt="" />
            </a>
            <time class="timeago" datetime="2021-09-03 20:00">3 october 2021</time> in Lifestyle

            <a href="post-image.html" class="d-inline-block mt-3">
                <h4 class="h6">Crying on the news</h4>
                <img class="card-img" src="{% static 'blog/images/3.jpg' %}" alt="" />
            </a>
            <time class="timeago" datetime="2021-07-16 20:00">16 july 2021</time> in Work

        </div>
    </div><!-- /.card -->
    {% endblock %}


</aside>
{% endblock %}