{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{title}} :: {{ block.super}}{% endblock %}

{% block body %}

<h1 class="h3">Blog Title</h1>

{% for post in posts %}
<div class="card mb-3">

    <div class="row g-0">
        <div class="col-md-4">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="{{ post.title }}">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                {{ post.content | truncatewords_html:30 |safe }}
                <p class="card-text"><small class="text-muted">Created at: {{ post.created_at | date:"Y-m-d" }}</small>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}



{% block about %}
<aside class="sidebar">
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">About</h4>
            <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam <a
                    href="#">semper libero</a>, sit amet adipiscing sem neque sed ipsum. </p>
        </div>
    </div><!-- /.card -->
</aside>
{% endblock %}


{% block tags %}
<aside class="sidebar sidebar-sticky">
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">Tags</h4>
            <a class="btn btn-light btn-sm mb-1" href="page-category.html">Journey</a>
            <a class="btn btn-light btn-sm mb-1" href="page-category.html">Work</a>
            <a class="btn btn-light btn-sm mb-1" href="page-category.html">Lifestype</a>
            <a class="btn btn-light btn-sm mb-1" href="page-category.html">Photography</a>
            <a class="btn btn-light btn-sm mb-1" href="page-category.html">Food & Drinks</a>
        </div>
    </div><!-- /.card -->


    {% block popular_posts %}
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">Popular stories</h4>

            <a href="post-image.html" class="d-inline-block">
                <h4 class="h6">The blind man</h4>
                <img class="card-img" src="{% static 'blog/images/2.jpg' %}" alt="" />
            </a>
            <time class="timeago" datetime="2021-09-03 20:00">3 october 2021</time> in Lifestyle

            <a href="post-image.html" class="d-inline-block mt-3">
                <h4 class="h6">Crying on the news</h4>
                <img class="card-img" src="{% static 'blog/images/3.jpg' %}" alt="" />
            </a>
            <time class="timeago" datetime="2021-07-16 20:00">16 july 2021</time> in Work

        </div>
    </div><!-- /.card -->
    {% endblock %}


</aside>
{% endblock %}